<link rel="stylesheet" href="{{ '/assets/css/chatbot.css' | relative_url }}">

<div id="chatbot-container" class="chatbot-container">
  <div class="chatbot-header" style="font-family:'NanumBarunGothic'">
    <h3>GyuPT</h3>
    <button id="chatbot-toggle">
      <i class="fas fa-chevron-down chatbot-toggle-icon"></i>
      <i class="fas fa-comments chatbot-icon"></i>
    </button>
  </div>
  <div class="chatbot-body">
    <div id="chatbot-messages" class="chatbot-messages">
      <div class="message bot">안녕하세요! 블로그 내용에 관한 질문이 있으시면 언제든지 물어보세요.</div>
    </div>
    <div class="chatbot-input-container">
      <input
        type="text"
        id="chatbot-input"
        placeholder="질문을 입력하세요..."
      >
      <button id="chatbot-submit">
        <i class="fas fa-paper-plane"></i>
      </button>
    </div>
  </div>
</div>

<script src="/assets/js/chatbot/chatbot.js"></script>
