@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as mx;
@use '../abstracts/breakpoints' as bp;
#topbar-wrapper { height: v.$topbar-height; margin-top: .75rem; padding: 0 .25rem; border-bottom: 1px solid var(--main-border-color); background: var(--topbar-bg); @include bp.lt(bp.get(lg)) { @include mx.slide(top .2s ease); left: 0; } }
#topbar { color: var(--topbar-text-color); #breadcrumb { padding-left: .25rem; color: var(--text-muted-color); font-size: .9rem; a:hover { color: var(--link-hover-color); } span:not(:last-child)::after { content: '›'; padding: 0 .3rem; } @include bp.lt(bp.get(lg)) { display: none; } } }
#topbar-title { display: none; @include bp.lt(bp.get(lg)) { display: block; width: 70%; text-align: center; font-size: 1rem; font-weight: 600; } }
#sidebar-trigger, #search-trigger { display: none; @include bp.lt(bp.get(lg)) { display: block; } }
